.logo {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #1F2937;
  color: white;
}
.ul {
   list-style-type: none;
   display: flex;
   margin: 0;
   padding-right: 30px;
   gap: 16px;
   color: white;
}
.headerlogo {
     margin-right: 900px;
     font-size: 24px;
     font-weight: 700;
}
a:visited {
      text-decoration: none;
      color: white;
}
.subsection {
      background-color: #1F2937;
      color: white;
      overflow: hidden;
      display: flex;
      align-items: left;
    justify-content: left;
    flex-direction: column;
}
.img {
    display: flex;
    border-radius: 8px;
    height: 300px;
    width: 600px;
   padding-left: 1150px;
   margin-top: -160px;
   padding-bottom: 50px;
}
.maintitle, .mainparagraph,
.signup {
     padding-left: 220px;
}
.maintitle {
  font-size: 48px;
  font-weight: extra-bold;
   padding-top: 50px;
}
.mainparagraph {
  font-size: 18px;
}
.signup {
  background-color: #3882f6;
  padding: 10px ;
  border: none;
  border-radius: 8px;
  width: 120px;
  margin-left: 220px;
  margin-top: 8px;
}
.mainparagraph {
    inline-size: 500px;
}

  
 

